<template>
<nav class="navbar " >
<!--   <div class="navbar-brand">
    <a class="navbar-item" href="http://bulma.io">
      <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div> -->
  <div class="navbar-brand">
      <a  class=" navbar-item" :href="'http://localhost:3000/viewer?id=' + item + '&index=0'" v-for='item in arrayDragItem'>
        <span class="bd-emoji"><i class="fa fa-arrow-circle-o-right"></i></span>&nbsp;{{item}}
      </a>

    </div>
  <b-modal :active.sync="isImageModalActive">
   <b-tabs class="column is-12">
      <b-tab-item label="Position">
        <b-field label="height">
            <b-input v-model="height"></b-input>
        </b-field>
        <b-field label="width" >
            <b-input v-model="position"></b-input>
        </b-field>
      </b-tab-item>
      <b-tab-item label="Color">
        <b-field label="Background Color">
            <b-input v-model="backgroundColor"></b-input>
        </b-field>
      </b-tab-item>

      <b-tab-item  label="Label">
        <b-field label="Label">
            <b-input v-model="name"></b-input>
        </b-field>
      </b-tab-item>
  </b-tabs>
</b-modal>
</nav>
      </template>
<script type="text/javascript">
  import draggable from 'vuedraggable'
  import axios from 'axios'
  export default {
    name: 'BLinkV',
    props: ['content', 'name', 'level', 'position', 'backgroundColor', 'height'],
    data () {
      return {
        isImageModalActive: false,
        nameComp: this.name,
        arrayDragItem: ['test', 'test2']
      }
    },
    components: {
      draggable
    },
    mounted: function () {

    },
    computed: {
    },
    created: function () {
      var url = 'http://127.0.0.1:5000/api/glob/system/'
      var self = this
      const res2 = axios.get(url)
        .then(response => {
          console.log(response)
          self.arrayDragItem = response.data
        })
        .catch(e => {
          console.log(e)
        })
    }
  }
</script>
<style lang="scss" scoped>
@import '../../assets/scss/main.scss';

</style>

<style lang="scss" scoped>
@import '../../assets/scss/main.scss';
nav{
    height: auto;
    margin-top: -1%;
    z-index: 0;
    position: relative!important;
}
.fa-arrow-circle-o-right{
  color: #317aec;
}
</style>