<template><div class="  column" :class="position"><a class="button is-primary" href="type">{{name}} </a>  
   <div >
             <button class="button is-warning editer "
            @click="isImageModalActive = true" >
            Editer
        </button></div>
  <b-modal :active.sync="isImageModalActive">
   <b-tabs class="column is-12">
      <b-tab-item label="Position">
        <b-field label="height">
            <b-input v-model="height"></b-input>
        </b-field>
        <b-field label="width" >
            <b-input v-model="position"></b-input>
        </b-field>
      </b-tab-item>
      <b-tab-item label="Color">
        <b-field label="Background Color">
            <b-input v-model="backgroundColor"></b-input>
        </b-field>
      </b-tab-item>

      <b-tab-item  label="Label">
        <b-field label="Label">
            <b-input v-model="name"></b-input>
        </b-field>
      </b-tab-item>
  </b-tabs>
</b-modal></div>
  </template>
<script type="text/javascript">
  export default {
    name: 'BLinkV',
    props: ['content', 'name', 'position', 'backgroundColor', 'backgroundColor', 'type', 'height'],
    data () {
      return {
        isImageModalActive: false,
        nameComp: this.name
      }
    },
    mounted: function () {

    },
    computed: {
    }
  }
</script>
<style lang="scss" scoped>
@import '../../assets/scss/main.scss';
.editer{
}

</style>

