<template>
<div class="column" :class="position">
  <a class="button is-primary">{{name}} level {{level}}</a>
   </div>
  </template>
<script type="text/javascript">
  export default {
    name: 'BWin',
    props: ['content', 'name', 'level', 'position'],
    data () {
      return {
        nameComp: this.name
      }
    },
    mounted: function () {

    },
    computed: {
    }
  }
</script>
<style lang="scss" scoped>
@import '../../assets/scss/main.scss';

</style>

