<template>
  <div class="column" :class="positionComp" :style="stylesBind">
          <b-field :label="nameComp">
            <b-input type="text" :value='dataAtIndexFct()'></b-input>
        </b-field>
           <div v-if='type != "view"'>
             <button class="button is-warning is-medium "
            @click="isImageModalActive = true" >
            Editer
        </button></div>
  <b-modal :active.sync="isImageModalActive">
        <b-field label="height">
            <b-input v-model="heightComp"></b-input>
        </b-field>
        <b-field label="width" >
            <b-input v-model="positionComp"></b-input>
        </b-field>
        <b-field label="Background Color">
            <b-input v-model="backgroundColorComp"></b-input>
        </b-field>

        <b-field label="Label">
            <b-input v-model="nameComp"></b-input>
        </b-field>
</b-modal>
</div>

      </template>
<script type="text/javascript">
  export default {
    name: 'BLinkV',
    props: ['content', 'name', 'level', 'position', 'backgroundColor', 'height', 'type', 'dataAtIndex'],
    data () {
      return {
        isImageModalActive: false,
        nameComp: this.name,
        positionComp: this.position,
        backgroundColorComp: this.backgroundColor,
        heightComp: this.height
      }
    },
    mounted: function () {
      console.log()
    },
    methods: {
      dataAtIndexFct () {
        for (var key in this.dataAtIndex) {
          for (var key2 in this.dataAtIndex[key]) {
            if (key2 === this.nameComp) {
              return this.dataAtIndex[key][key2]
            }
          }
        }
        return this.nameComp
      }
    },
    computed: {
      stylesBind () {
        // var styles = ''
        // styles = styles + '"background-color" : "' + this.backgroundColor + '",'
        // styles = styles + '"height" : ' + this.height + ''
        return {
          'background-color': this.backgroundColor,
          height: this.height
        }
      }
    }
  }
</script>
<style lang="scss" scoped>
@import '../../assets/scss/main.scss';

</style>

