// import bulma utilities
@import "~bulma/sass/utilities/_all";
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.google.com/?query=proxima+nova');
// Custom variables
$white: #ffffff;
$orange: #EC732C!important;
$dark-blue: #527591;
$light-blue: #5C9ACF;
$light-grey: #5A5B5D;
$light-yellow: #FFCA43;
$background-color-green: #95c154!important;
$background-color-footer:#f7f7f7;
$background-color-white : #fff!important;
$background-color-grey : #5A5B5D!important;
$color-black : black!important;
$color-blue-border : #4772b5!important;
$color-blue : #244f75;
$color-light-blue : #60a0d9;
$color-white : #fff!important;
$color-border-blue : #5f99d3;
$text-size-big: 40px;
$text-size-average: 25px;
$text-size-tiny: 18px;
$line-height-tiny: 1;
$line-height-normal: 1.5;
$font-family-global: 'Open sans', sans-serif;
$font-weight-avarage: 300;
$font-weight-big: 500;
$font-weight-bold: bold;
$font-family-raleway : "Raleway", sans-serif;
$font-family-proxima-nova: "proxima-nova", sans-serif;
body{
	font-family: $font-family-raleway;
}
// Import Bulma and Buefy core
@import "~bulma";
@import "~buefy/src/scss/buefy";
