<template >
    <div  class="overflowComp column columns is-multiline boxSlide" :class="positionComp"
    v-bind:style="[stylesBind]" ><div class="title">{{nameComp}}</div>
    
    <component class="borderSLide2   columns is-multiline marginBuetifier"  v-for="(element1, index) in short" 
    v-bind:is="isSlide(element1).type" 
    v-if="index != 0 && isSlide(element1)"  
    :position='"is-" + isSlide(element1).position' 
    :name='isSlide(element1).name'
    :content='element1' 
    :backgroundColor='isSlide(element1).backgroundColor' 
    :height='isSlide(element1).height' 
    :ref='isSlide(element1).name' 
     :layout='isSlide(element1).layout'
    v-on:remove="removeRow($event)"
    :i='index'
    type='view'
    :dataAtIndex='dataAtIndex'/>
  </div>
</template>
<!--    <pre>
    <div v-for="(element, index) in short" :key="index">{{element}}</div>
  </pre> -->
 <!-- </div>  -->
</template>
<script type="text/javascript">
  import draggable from 'vuedraggable'
  export default {
    name: 'Slide',
    props: ['content', 'name', 'position', 'backgroundColor', 'height', 'i', 'type', 'dataAtIndex'],
    data () {
      return {
        comp: 0,
        short: [],
        backgroundColorComp: this.backgroundColor,
        heightComp: this.height,
        nameComp: this.name,
        isImageModalActive: false,
        hoverComp: true,
        positionComp: this.position,
        shortDraggableComp: []
      }
    },
    computed: {
      stylesBind () {
        // var styles = ''
        // styles = styles + '"background-color" : "' + this.backgroundColor + '",'
        // styles = styles + '"height" : ' + this.height + ''
        var styleObject = {
          height: this.heightComp + 'px',
          'background-color': this.backgroundColorComp
        }
        return styleObject
      }
    },
    mounted: function () {
      // console.log(this.backgroundColor)
      // console.log(this.height)
      /*      for (var i in this.short) {
        // console.log(this.short[i].level)
        if (this.short[i].level === '1') {
          document.getElementById('debugger').innerHTML += '<br>1{'
        } else {
          document.getElementById('debugger').innerHTML += '<br>    2{'
        }
        for (var j in this.short[i]) {
          // console.log(Number.isInteger(j))
          if (Number.isInteger(j)) {
            // console.log('jen aiun')
            this.short[i].remove(j)
          } else if (j === 'type') {
            document.getElementById('debugger').innerHTML += '<br>'
          }
          document.getElementById('debugger').innerHTML += j + ':' + this.short[i][j] + ', '
        }
      }
      document.getElementById('debugger').innerHTML += '}' */
    },
    methods: {
      destroy: function (i) {
        this.$emit('removeRow', i)
      },
      removeRow: function (index) {
        console.log(index)
        if (typeof this.short[index][0] !== 'undefined') {
          this.short.splice(index - 1, 1)
        }
      },
      checkIsArray: function (element1, index) {
        try {
          this.positionComp[index] = 'is-' + element1[0].position
          return this.positionComp[index]
        } catch (error) {
          this.positionComp[index] = 'is-' + element1.position
          return this.positionComp[index]
        }
      },
      checkMove: function (evt, originalEvent) {
        // console.log(this)
        return true
      },
      onEnd: function (evt, originalEvent) {
      },
      isSlide: function (elementInstance) {
        if (typeof elementInstance[0] !== 'undefined') {
          // console.log(elementInstance[0])
          return elementInstance[0]
        } else {
          // console.log(elementInstance)
          return elementInstance
        }
      },
      isSlide2: function (elementInstance) {
        if (typeof elementInstance[0] !== 'undefined') {
          // console.log(elementInstance[0])
          if (elementInstance[0].type === 'Slide') {
            elementInstance[0].type = 'Slide2'
          }
          return elementInstance[0]
        } else {
          // console.log(elementInstance)
          if (elementInstance.type === 'Slide') {
            elementInstance.type = 'Slide2'
          }
          return elementInstance
        }
      }
    },
    components: {
      draggable
    },
    beforeMount: function () {
      if (this.short.length <= 0) {
        this.short = this.content
      }
      for (var i = 1; i <= this.content.length - 1; i++) {
        this.shortDraggableComp[i - 1] = this.content[i]
      }
    },
    updated: function () {
      console.log('i am update')
    }
  }
</script>
<style lang="scss" scoped>
@import '../../assets/scss/main.scss';
.borderSLide2{
/*  border: 1px solid red;*/
}
.borderComp2{
}
.overflowComp{
/*  overflow: scroll;*/
padding: 0rem!important;
margin: 0px!important;
    background-color: white;
}
.title{
    width :100%;
}
.dragArea{
  margin: 0px!important;
}
.positionComp{
  background-color: white;
}
.boxSlide{
  background-color: #fff !important;
    border-radius: 5px !important;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1) !important;
    display: block !important;
    padding: 1.25rem !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}
.marginBuetifier{
  margin-left: 1%!important;
}
</style>

