<template >
    <div  class="overflowComp column columns is-multiline boxSlide" :class="positionComp"
    v-bind:style="[stylesBind]" ><div class="title">{{nameComp}}</div>
    <draggable v-model="short" :end='onEnd'
    class="dragArea column columns is-multiline" :class="positionComp" 
    :options='{group:"people", "filter":".b-modal, .title"}''
    :move="checkMove" 
    @end="onEnd" >
    
    <component class="borderSLide2   columns is-multiline"  v-for="(element1, index) in short" 
    v-bind:is="isSlide(element1).type" 
    v-if="index != 0 && isSlide(element1)"  
    :position='"is-" + isSlide(element1).position' 
    :name='isSlide(element1).name'
    :content='element1' 
    :backgroundColor='isSlide(element1).backgroundColor' 
    :height='isSlide(element1).height' 
    :ref='isSlide(element1).name' 
    v-on:remove="removeRow(index)" 
    :layout='isSlide(element1).layout'
    :i='index'/>
    <div class=" is-12 column">
     <button class="button is-warning editer "
     @click="isImageModalActive = true" v-show='hoverComp'>
     Editer
   </button>
    <button @click= "destroy(i)">x</button></div>
   <b-modal :active.sync="isImageModalActive" >
  <b-modal :active.sync="isImageModalActive">
        <b-field label="height">
            <b-input v-model="heightComp"></b-input>
        </b-field>
        <b-field label="width" >
            <b-input v-model="positionComp"></b-input>
        </b-field>
        <b-field label="Background Color">
            <b-input v-model="backgroundColorComp"></b-input>
        </b-field>

        <b-field label="Label">
            <b-input v-model="nameComp"></b-input>
        </b-field>
</b-modal>
  </b-modal>
</draggable>
<!--    <pre>
    <div v-for="(element, index) in short" :key="index">{{element}}</div>
  </pre> -->
 </div> 
</template>
<script type="text/javascript">
  import draggable from 'vuedraggable'
  export default {
    name: 'Slide',
    props: ['content', 'name', 'position', 'backgroundColor', 'height', 'i'],
    data () {
      return {
        comp: 0,
        short: [],
        backgroundColorComp: this.backgroundColor,
        heightComp: this.height,
        nameComp: this.name,
        isImageModalActive: false,
        hoverComp: true,
        positionComp: this.position,
        shortDraggableComp: []
      }
    },
    computed: {
      stylesBind () {
        // var styles = ''
        // styles = styles + '"background-color" : "' + this.backgroundColor + '",'
        // styles = styles + '"height" : ' + this.height + ''
        var styleObject = {
          height: this.heightComp + 'px',
          'background-color': this.backgroundColorComp
        }
        return styleObject
      }
    },
    mounted: function () {
      // console.log(this.backgroundColor)
      // console.log(this.height)
      /*      for (var i in this.short) {
        // console.log(this.short[i].level)
        if (this.short[i].level === '1') {
          document.getElementById('debugger').innerHTML += '<br>1{'
        } else {
          document.getElementById('debugger').innerHTML += '<br>    2{'
        }
        for (var j in this.short[i]) {
          // console.log(Number.isInteger(j))
          if (Number.isInteger(j)) {
            // console.log('jen aiun')
            this.short[i].remove(j)
          } else if (j === 'type') {
            document.getElementById('debugger').innerHTML += '<br>'
          }
          document.getElementById('debugger').innerHTML += j + ':' + this.short[i][j] + ', '
        }
      }
      document.getElementById('debugger').innerHTML += '}' */
    },
    methods: {
      destroy: function (index) {
        console.log(this.$parent.$parent._data.short)
        console.log(index - 1)
        this.$parent.$parent.$set(this.$parent.$parent.short, index, '')
      },
      removeRow: function (index) {
        console.log('aumoins ça emit')
        console.log(index)
        this.short.splice(index - 1, 1)
      },
      checkIsArray: function (element1, index) {
        try {
          this.positionComp[index] = 'is-' + element1[0].position
          return this.positionComp[index]
        } catch (error) {
          this.positionComp[index] = 'is-' + element1.position
          return this.positionComp[index]
        }
      },
      checkMove: function (evt, originalEvent) {
        // console.log(this)
        return true
      },
      onEnd: function (evt, originalEvent) {
      },
      isSlide: function (elementInstance) {
        if (typeof elementInstance[0] !== 'undefined') {
          // console.log(elementInstance[0])
          return elementInstance[0]
        } else {
          // console.log(elementInstance)
          return elementInstance
        }
      }
    },
    components: {
      draggable
    },
    beforeMount: function () {
      if (this.short.length <= 0) {
        this.short = this.content
      }
      for (var i = 1; i <= this.content.length - 1; i++) {
        this.shortDraggableComp[i - 1] = this.content[i]
      }
    },
    updated: function () {
      console.log('i am update')
    }
  }
</script>
<style lang="scss" scoped>
@import '../../assets/scss/main.scss';
.borderSLide2{
/*  border: 1px solid red;*/
}
.borderComp2{
}
.overflowComp{
/*  overflow: scroll;*/
padding: 0rem!important;
margin: 0px!important;
    background-color: white;
}
.title{
    margin-bottom: 0!important;
    width :100%;
}
.dragArea{
  margin: 0px!important;
}
.boxSlide{
  background-color: #fff !important;
    border-radius: 5px !important;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1) !important;
    display: block !important;
    padding: 1.25rem !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}
.editer{
}
</style>

