<template>
  <div>
    <vue-good-table
      :columns="columns"
      :rows="rows"
      :search-options="{
        enabled: true,
      }"
      :pagination-options="{
        enabled: true,
        perPage: 5,
      }"
      styleClass="vgt-table striped bordered"/>
  </div>
</template>
<script type="text/javascript">
  import axios from 'axios'
  import Vue from 'vue'
  import VueGoodTable from 'vue-good-table'
  import 'vue-good-table/dist/vue-good-table.css'
  Vue.use(VueGoodTable)
  export default {
    name: 'BLinkV',
    props: ['content', 'name', 'level', 'position', 'backgroundColor', 'height', 'type', 'layout'],
    data () {
      return {
        isImageModalActive: false,
        nameComp: this.name,
        positionComp: this.position,
        backgroundColorComp: this.backgroundColor,
        heightComp: this.height,
        activeTab: 0,
        rows: [],
        columns: []
      }
    },
    computed: {
      stylesBind () {
        // var styles = ''
        // styles = styles + '"background-color" : "' + this.backgroundColor + '",'
        // styles = styles + '"height" : ' + this.height + ''
        return {
          'background-color': this.backgroundColor,
          height: this.height
        }
      }
    },
    mounted: function () {
      /* var url = 'http://127.0.0.1:5000/api/data/sql/' + this.layout + '/'
      var self = this
      axios.post(url, {q: 'SELECT * from table'}, {
        headers: { 'Content-Type': 'application/json' }
      }).then(response => {
        console.log(JSON.parse(response.data).data)
        self.dataList = JSON.parse(response.data).data
        var headTab = document.getElementById('headTab' + this.layout)
        var bodyTab = document.getElementById('bodyTab' + this.layout)
        for (var key in self.dataList) {
          if (key === '0') {
            var row2 = headTab.insertRow(-1)
            for (var key2 in self.dataList[key]) {
              if (!self.dataList[key].hasOwnProperty(key2)) continue
              var cell2 = row2.insertCell(-1)
              cell2.innerHTML = '<abbr title="Position">' + key2 + '</abbr>'
              cell2.setAttribute('align', 'center')
            }
          }
          var row = bodyTab.insertRow(-1)
          row.classList.add('columns')
          for (key2 in self.dataList[key]) {
            var cell1 = row.insertCell(-1)
            cell1.innerHTML = self.dataList[key][key2]
            cell1.setAttribute('align', 'center')
          }
        }
      }) */
    },
    created: function () {
      var url = 'http://127.0.0.1:5000/api/data/sql/' + this.layout + '/'
      var self = this
      axios.post(url, {q: 'SELECT * from table'}, {
        headers: { 'Content-Type': 'application/json' }
      }).then(response => {
        self.dataList = JSON.parse(response.data).data
        for (var key in self.dataList) {
          if (key === '0') {
            for (var key2 in self.dataList[key]) {
              var columnsTemp = {}
              if (!self.dataList[key].hasOwnProperty(key2)) continue
              columnsTemp['label'] = key2
              columnsTemp['field'] = key2
              this.columns.push(columnsTemp)
            }
            columnsTemp['label'] = 'Action'
            columnsTemp['field'] = 'Action'
            columnsTemp['html'] = true
          }
          var dataTemp = {}
          for (key2 in self.dataList[key]) {
            dataTemp[key2] = self.dataList[key][key2]
          }
          dataTemp['Action'] = '<a class="button" href="http://localhost:3000/viewer?id=' + this.layout + '&index=' + key + '">Action</a>'
          this.rows.push(dataTemp)
        }
      })
    }
  }
</script>
<style lang="scss" scoped>
@import '../../assets/scss/main.scss';
</style>

