<template>
  <section class="" >
    {{test}}
    </section>
  </template>
<script type="text/javascript">
  export default {
    name: 'parseur',
    data () {
      return {
      }
    },
    computed: {
      test: function () {
        console.log('test')
        return 'test'
      }
    }
  }
</script>
<style lang="scss" scoped>
@import '../../assets/scss/main.scss';

</style>

