<template>
  <section id="reader" class="main-content container is-fluid is-fullheight">
    <div class="columns">
      <aside class="menu">
        <div class="firstLabel"></div>
        <div class="sideBarListElems">
        <b-field label="Select View" >
            <b-select placeholder="Select a View" v-model="selectedViews" size="is-small">
                <option
                    v-for="(vue, key) in views"
                    :value="vue"
                    :key="key">
                    {{ vue }}
                </option>
            </b-select>
        </b-field>
        </div>
         <router-link to="" class='sideBarListElems'  aria-expanded="button" @click.native="input = !input">
    <i class="fa  downFaMargin" :class="[input ? 'fa-angle-up' : 'fa-angle-down'  ]"></i>
    <span class="icon is-small iconMarginCsq"><i class="fa fa-keyboard-o"></i></span>
    Inputs
    <span class="icon is-small is-angle"></span>
  </router-link>
  <expanding>
    <ul v-show="input">
            <li><a>
              <draggable v-model="inputList" class="dragArea overflowComp" :options="{group:{ name:'people',  pull:'clone', put:false }}">
                <component v-bind:is="item.type"
                :position='"is-" + item.position'
                :name='item.name'
                :level='1'
                :startSlideId='key'
                :content='elements'
                v-for="(item, key) in inputList"
                :key="key"
                :backgroundColor='item.backgroundColor'/>
              </draggable></a></li>
            </ul>
          </expanding>

         <router-link to="" class='sideBarListElems'  aria-expanded="button" @click.native="button = !button">
    <i class="fa  downFaMargin" :class="[button ? 'fa-angle-up' : 'fa-angle-down'  ]"></i>
    <span class="icon is-small iconMarginCsq"><i class="fa fa-mouse-pointer"></i></span>
    Button
    <span class="icon is-small is-angle"></span>
  </router-link>
  <expanding>
    <ul v-show="button">
              <li><a>
                <draggable v-model="buttonList" class="dragArea overflowComp" :options="{group:{ name:'people',  pull:'clone', put:false }}">
                  <component v-bind:is="item.type"
                  :position='"is-" + item.position'
                  :name='item.name'
                  :level='1'
                  :startSlideId='key'
                  :content='elements'
                  v-for="(item, key) in buttonList"
                  :key="key"
                  :backgroundColor='item.backgroundColor'/>
                </draggable></a></li>
              </ul>
  </expanding>




         <router-link to="" class='sideBarListElems'  aria-expanded="listListToggle" @click.native="listListToggle = !listListToggle">
          <i class="fa  downFaMargin" :class="[listListToggle ? 'fa-angle-up' : 'fa-angle-down'  ]"></i>
    <span class="icon is-small iconMarginCsq"><i class="fa fa-list-alt"></i></span>
    Tables
    <span class="icon is-small is-angle"></span>
  </router-link>
  <expanding>
    <ul v-show="listListToggle">
    <li>
    <draggable v-model="listList" class="dragArea overflowComp" :options="{group:{ name:'people',  pull:'clone', put:false }}">
      <component v-bind:is="item.type"
      :position='"is-" + item.position'
      :name='item.name'
      :level='1'
      :startSlideId='key'
      :content='elements'
      v-for="(item, key) in listList"
      :key="key"
      :backgroundColor='item.backgroundColor'
      :data='item.data'
      :layout="'societe'"/>
    </draggable></li>
    </ul>
  </expanding>

</aside>
      <div class=" column colums boxSlide" :class="{ 'is-12': toogleDebuggerState }" v-if="dataStringActive">
        <layoutNav v-if='elementsSlide[0].layout'/>
        <Slide :backgroundColor='elementsSlide[0].backgroundColor'   :content='elementsSlide' :position='"is-"+elementsSlide[0].position' :name='elementsSlide[0].name' :height='elementsSlide[0].height' />
        <button class="button is-info is-medium " @click='Save'>Save</button>
      </div><br>
<!--       <button v-on:click="toogleDebugger">x</button>
      <div id='debugger' class=" column is-3" v-show='toogleDebuggerState'>
      </div> -->
    </div>
    <pre>
      <div v-for="(element, index) in elementsSlide" :key="index">{{element}}</div>
    </pre>
    <br>
  </section>
</template>
<style type="text/css">
.borderSLide{
  border: solid 1px black;
}
  html, body, #app {
  height: 100%;
}
#app {
  min-height: 100%;
  //display: flex;
  //flex-direction: column;
}
.main-content {
  //flex: 1;
}
.footer {
  margin-top: -12px;
}
@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}
</style>
<script type="text/javascript">
  import Expanding from 'vue-bulma-expanding'
  import draggable from 'vuedraggable'
  import axios from 'axios'
  var alasql = require('alasql')
  export default {
    name: 'reader',
    props: ['vueFrame'],
    components: {
      Expanding,
      draggable
    },
    data () {
      return {
        domElements: [],
        toogleDebuggerState: true,
        listListToggle: false,
        inputList: [{'type': 'inputText', 'level': '1', 'name': 'Text', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''},
          {'type': 'inputEmail', 'level': '1', 'name': 'Email', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''},
          {'type': 'inputPassword', 'level': '1', 'name': 'Password', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''},
          {'type': 'inputTextarea', 'level': '1', 'name': 'Textarea', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''},
          {'type': 'inputCheckbox', 'level': '1', 'name': 'Checkbox', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''}],
        buttonList: [{'type': 'buttonSave', 'level': '1', 'name': 'Envoyer', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''}],
        listList: [{'type': 'listData', 'level': '1', 'name': 'Envoyer', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': '', 'data': 'societe'}],
        layoutElementsList: [],
        elementsSlide: this.elementsSlide,
        elementsSlideSave: [],
        input: false,
        button: false,
        dataStringActive: false,
        dataString: '',
        layoutElements: false,
        views: [],
        selectedViews: '0',
        show: false
      }
    },
    methods: {
      toogleDebugger: function () {
        // console.log('first:' + this.toogleDebuggerState)
        this.toogleDebuggerState = !this.toogleDebuggerState
        // console.log(this.toogleDebuggerState)
      },
      Save () {
        this.elementsSlideSave = []
        console.log('this')
        console.log(this)
        this.elementsSlideSave.push(this.returnValues(this.$children[4]._data.short[0]))
        this.Recursive(this.$children[4].$children[0])
        console.log(JSON.stringify(this.elementsSlideSave))
        var url = 'http://127.0.0.1:5000/api/csvsystem/'
        axios.post(url, JSON.stringify(this.elementsSlideSave), {
          headers: { 'Content-Type': 'application/json' }
        })
      },
      returnValues (obj) {
        return Object.keys(obj).map(function (key) {
          return obj[key]
        })
      },
      Recursive (children) {
        for (var i = 0; i <= children.$children.length - 1; i++) {
          try {
            if (children.$children[i] && children.$children[i].$el.nodeName !== '#comment' && children.$children[i].$options.name === 'Slide') {
              this.elementsSlideSave.push(this.returnValues(children.$children[i]._data.short[0]))
              this.Recursive(children.$children[i].$children[0])
            } else if (children.$children[i].$el.nodeName !== '#comment' && children.$children[i].$options.name !== 'Slide') {
              this.elementsSlideSave.push(this.returnValues(children.$children[i].content))
            }
          } catch (e) {
          }
        }
      }
    },
    created: function () {
      var url = 'http://127.0.0.1:5000/api/system/csv/' + this.vueFrame
      var self = this
      const res = axios.get(url)
        .then(response => {
          console.log(response)
          self.dataString = response.data
        })
        .then(response => {
          self.dataStringActive = true
        })
        .catch(e => {
          console.log(e)
        })
      url = 'http://127.0.0.1:5000/api/glob/system/'
      self = this
      const res2 = axios.get(url)
        .then(response => {
          console.log(response)
          self.views = response.data
        })
        .catch(e => {
          console.log(e)
        })
    },
    beforeMount: function () {
      /* alasql.promise('select * from ? WHERE FIELD1 = Frame', dataString)
        .then(function (data) {
          console.log(data)

        }).catch(function (err) {
          console.log('Error:', err)
        }) */
    },
    mounted: function () {
    },
    computed: {
    },
    watch: {
      dataStringActive () {
        console.log('jai une reponse')
        console.log(JSON.parse(this.dataString))
        this.createDOMElementFromFrame(JSON.parse(this.dataString))
        console.log(this.elementsSlide)
        this.$store.dispatch('storElements', this.elements)
      },
      selectedViews (val) {
        this.$router.push('/builder?id=' + val)
        window.location.replace('http://localhost:3000/builder?id=' + val)
      }
    }
  }
</script>
<style lang="scss" scoped>
@import '../../assets/scss/main.scss';
aside{
      position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    padding: 20px 0 50px;
    width: 180px;
    min-width: 45px;
    max-height: 100vh;
    height: calc(100% - 50px);
    z-index: 1023;
    background: #fff;
    box-shadow: 0 2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
    overflow-y: auto;
    overflow-x: hidden;
}
.overflowComp{
  overflow: scroll;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.firstLabel{
  margin-top: 30px;
}
.menu-label{
  margin-left: 4%;
  margin-top: 5%;
  font-size: 20px;
}
.boxSlide{
  background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
    display: block;
    padding: 1.25rem;
}
.sideBarListElems{
        border-radius: 2px;
    color: #4a4a4a;
    display: block;
    padding: .25em .75em;
    cursor: pointer;
    text-decoration: none;
        font-size: 0.9rem;
}
.sideBarListElems:hover{
background-color: #f5f5f5;
    color: #00d1b2;
    }
.downFaMargin{
   position: relative;
  /* Adjust these values accordingly */
  top: 0px;
  left: 130px;
}
.iconMarginCsq{
  margin-left: -7%;
}
</style>

