<template>
  <section id="reader" class="main-content container is-fluid is-fullheight">
    <div class=" columns">

      <div class=" column " :class="{ 'is-12': toogleDebuggerState }" v-if="dataStringActive">
        <layoutNav v-if='elementsSlide[0].layout'/>
        <Slide2 :backgroundColor='elementsSlide[0].backgroundColor'   :content='elementsSlide' :position='"is-"+elementsSlide[0].position' :name='elementsSlide[0].name' :height='elementsSlide[0].height' :dataAtIndex='dataAtIndex'/>
        <button class="button is-info is-medium " @click='Save'>Save</button>
        <button class="button is-danger is-medium " @click='Delete'>Delete</button>
        <button class="button is-info is-medium " @click='Next'>Next</button>
        <button class="button is-info is-medium " @click='Prev'>Prev</button>
      </div><br>
<!--       <button v-on:click="toogleDebugger">x</button>
      <div id='debugger' class=" column is-3" v-show='toogleDebuggerState'>
      </div> -->
    </div>
  </section>
</template>
<style type="text/css">
.borderSLide{
  border: solid 1px black;
}
  html, body, #app {
  height: 100%;
}
#app {
  min-height: 100%;
  //display: flex;
  //flex-direction: column;
}
.main-content {
  //flex: 1;
}
.footer {
  margin-top: -12px;
}
@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}
</style>
<script type="text/javascript">
  import draggable from 'vuedraggable'
  import axios from 'axios'
  var alasql = require('alasql')
  export default {
    name: 'reader',
    props: ['vueFrame', 'dataFrame'],
    data () {
      return {
        domElements: [],
        toogleDebuggerState: true,
        inputList: [{'type': 'inputText', 'level': '1', 'name': 'Text', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''},
          {'type': 'inputEmail', 'level': '1', 'name': 'Email', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''},
          {'type': 'inputPassword', 'level': '1', 'name': 'Password', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''},
          {'type': 'inputTextarea', 'level': '1', 'name': 'Textarea', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''},
          {'type': 'inputCheckbox', 'level': '1', 'name': 'Checkbox', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''}],
        buttonList: [{'type': 'buttonSave', 'level': '1', 'name': 'Envoyer', 'position': '12', 'backgroundColor': 'transparent', 'height': '100', 'layout': ''}],
        elementsSlide: this.elementsSlide,
        elementsSlideSave: [],
        input: false,
        button: false,
        dataStringActive: false,
        dataString: '',
        dataAtIndex: []
      }
    },
    components: {
      draggable
    },
    methods: {
      toogleDebugger: function () {
        // console.log('first:' + this.toogleDebuggerState)
        this.toogleDebuggerState = !this.toogleDebuggerState
        // console.log(this.toogleDebuggerState)
      },
      Save () {
        this.elementsSlideTemp = document.getElementsByClassName('inputText')
        this.labelSlideTemp = document.getElementsByClassName('label')
        this.elementsSlideSave = []
        console.log('save')
        console.log(this.labelSlideTemp[0].textContent)
        for (var i = 0; i <= this.elementsSlideTemp.length - 1; i++) {
          this.elementsSlideSave[this.labelSlideTemp[i].textContent] = this.elementsSlideTemp[i].children[0].value
        }
        console.log(this.elementsSlideSave)
        var tempScope = this.elementsSlideSave
        var temp = '{'
        var k = 0
        for (var j in tempScope) {
          if (k !== 0) {
            temp += ','
          }
          temp += '"' + j + '":"' + this.elementsSlideSave[j] + '"'
          k++
        }
        temp += '}'
        console.log('this')
        console.log(temp)
        var dataFrame = parseInt(this.dataFrame, 10) + 1
        var url = 'http://127.0.0.1:5000/api/data/csv/' + this.vueFrame + '/ligne/' + dataFrame.toString() + '/'
        axios.put(url, temp, {
          headers: { 'Content-Type': 'application/json' }
        })
      },
      Delete () {
        var dataFrame = parseInt(this.dataFrame, 10) + 1
        var url = 'http://127.0.0.1:5000/api/data/csv/' + this.vueFrame + '/ligne/' + dataFrame.toString() + '/'
        axios.delete(url, {
          headers: { 'Content-Type': 'application/json' }
        })
        dataFrame = parseInt(this.dataFrame, 10)
        alert(dataFrame)
        url = 'http://localhost:3000/viewer?id=' + this.vueFrame + '&index=' + dataFrame
        window.location.href = url
      },
      Next () {
        var dataFrame = parseInt(this.dataFrame, 10) + 1
        alert(dataFrame)
        var url = 'http://localhost:3000/viewer?id=' + this.vueFrame + '&index=' + dataFrame
        window.location.href = url
      },
      Prev () {
        var dataFrame = parseInt(this.dataFrame, 10) - 1
        alert(dataFrame)
        var url = 'http://localhost:3000/viewer?id=' + this.vueFrame + '&index=' + dataFrame
        window.location = url
      },
      returnValues (obj) {
        return Object.keys(obj).map(function (key) {
          return obj[key]
        })
      },
      Recursive (children) {
        for (var i = 0; i <= children.$children.length - 1; i++) {
          try {
            if (children.$children[i] && children.$children[i].$el.nodeName !== '#comment' && children.$children[i].$options.name === 'Slide') {
              this.elementsSlideSave.push(this.returnValues(children.$children[i]._data.short[0]))
              this.Recursive(children.$children[i].$children[0])
            } else if (children.$children[i].$el.nodeName !== '#comment' && children.$children[i].$options.name !== 'Slide') {
              this.elementsSlideSave.push(this.returnValues(children.$children[i].content))
            }
          } catch (e) {
          }
        }
      }
    },
    created: function () {
      var url = 'http://127.0.0.1:5000/api/system/csv/' + this.vueFrame
      var self = this
      const res = axios.get(url)
        .then(response => {
          console.log(response)
          self.dataString = response.data
        })
        .then(response => {
          self.dataStringActive = true
        })
        .catch(e => {
          console.log(e)
        })
      url = 'http://127.0.0.1:5000/api/data/sql/' + this.vueFrame + '/'
      self = this
      axios.post(url, {q: 'SELECT * from table'}, {
        headers: { 'Content-Type': 'application/json' }
      }).then(response => {
        self.dataList = JSON.parse(response.data).data
        for (var key in self.dataList) {
          if (key === this.dataFrame) {
            var dataTemp = {}
            for (var key2 in self.dataList[key]) {
              if (!self.dataList[key].hasOwnProperty(key2)) continue
              dataTemp[key2] = self.dataList[key][key2]
            }
            self.dataAtIndex.push(dataTemp)
          }
        }
      })
    },
    beforeMount: function () {
      /* alasql.promise('select * from ? WHERE FIELD1 = Frame', dataString)
        .then(function (data) {
          console.log(data)

        }).catch(function (err) {
          console.log('Error:', err)
        }) */
    },
    mounted: function () {
    },
    computed: {
    },
    watch: {
      dataStringActive () {
        console.log('jai une reponse')
        console.log(JSON.parse(this.dataString))
        this.createDOMElementFromFrame(JSON.parse(this.dataString))
        console.log(this.elementsSlide)
        this.$store.dispatch('storElements', this.elements)
      }
    }
  }
</script>
<style lang="scss" scoped>
@import '../../assets/scss/main.scss';
aside{
      position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    padding: 20px 0 50px;
    width: 180px;
    min-width: 45px;
    max-height: 100vh;
    height: calc(100% - 50px);
    z-index: 1023;
    background: #fff;
    box-shadow: 0 2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
    overflow-y: auto;
    overflow-x: hidden;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.boxSlide{
  background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
    display: block;
    padding: 1.25rem;
}
</style>

