<template>
  <div>
<nav class="navbar ">
  <div class="navbar-brand">
    <nuxt-link to="/" class="navbar-item logo">
      <img src="~/assets/images/logo.png" alt="Univelch: a modern framework based on CSV" width="112" height="60" style="max-height: none;">
    </nuxt-link>

    <a class="navbar-item is-hidden-desktop" href="" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link  is-active" >
          Module
        </div>
        <div class="navbar-dropdown ">
          
          <router-link class="navbar-item" :to="{ path: 'viewer', query: { id: 0 }}"  >Mon app</router-link>
          <router-link class="navbar-item" :to="{ path: 'builder', query: { id: 0 }}"  >Build my app</router-link>
          <nuxt-link to="/treatment" class="navbar-item ">
            Traitement</nuxt-link>
          
          <nuxt-link to="/options" class="navbar-item ">
            Options</nuxt-link>
          
          <nuxt-link to="/template" class="navbar-item ">
            Template</nuxt-link>
          
          <nuxt-link to="/request" class="navbar-item ">
            Requete prédéfinie</nuxt-link>
          

<!--           <hr class="navbar-divider">
          <div class="navbar-item">
            <div>
              <p class="is-size-6-desktop">
                <strong class="has-text-info">0.5.1</strong>
              </p>

              <small>
                  <a class="bd-view-all-versions" href="/versions">View all versions</a>
                </small>

            </div>
          </div> -->
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          More
        </div>
        <div id="moreDropdown" class="navbar-dropdown ">
          <nuxt-link to="/mapper" class="navbar-item ">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Mapper</strong>
                    <br>
                    <small>Mapper un fichier CSV pour construire une vue</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon has-text-info">
                    <i class="fa fa-plug"></i>
                  </span>
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div><nuxt-link to="/workshop" class="navbar-item ">
            <span class="bd-emoji">🎨</span> &nbsp;Boutique</nuxt-link>
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="https://github.com/jgthms/bulma" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/jgthms" target="_blank">
        <span class="icon" style="color: #55acee;">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&hashtags=bulmaio&url=http://bulma.io&via=jgthms">
              <span class="icon">
    <i class="fa fa-twitter"></i>
  </span>
              <span>
    Tweet
  </span>
            </a>

          </p>
          <p class="control">
            <a class="button is-primary" href="https://github.com/jgthms/bulma/archive/0.5.1.zip">
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Download</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<br>

<div class="main-content">
    <nuxt/>
</div>


<footer class="footer is-hidden">
  <div class="container">
    <div class="content has-text-centered">
      <p>Hello</p>
    </div>
  </div>
</footer>
  </div>
</template>

<script>
  export default {
    name: 'layoutBuilder'
  }
</script>

<style>

  html, body, #app {
  height: 100%;
}
#app {
  min-height: 100%;
  //display: flex;
  //flex-direction: column;
}
nav {
    box-shadow: 0 2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
    position: fixed!important;
    width: 100%;
    height: 50px;
    z-index: 2048;
}
.main-content {
  //flex: 1;
}
.footer {
  margin-top: -12px;
}
.navbar-item.is-mega {
  position: static;
  }

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }
.main-content{
	padding-top: 50px;
    margin-left: 180px;
}
.navbar-item{
	color: blue;
}
.logo{
	max-height: 50px;
}
@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}
</style>