<template>
  <div id="app">
    


  
    <reader :vueFrame='viewId'/>

    
  </div>
</template>

<style type="text/css">
  html, body, #app {
  height: 100%;
}
#app {
  min-height: 100%;
  //display: flex;
  //flex-direction: column;
      background: #f5f5f5;
    margin-top: -2%;
}
.main-content {
  //flex: 1;
}
.footer {
  margin-top: -12px;
}
.navbar-item.is-mega {
  position: static;
  }

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }

@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #317aec; 
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #317aec; 
    -webkit-box-shadow: inset 0 0 6px #317aec; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #317aec; 
}
</style>
  
<script>
  import reader from '~/components/reader/reader.vue'
  import Vue from 'vue'
  import createDOMElementFromFrame from '~/plugins/createDOMElementFromFrame.js'
  Vue.use(createDOMElementFromFrame)
  export default {
    layout: 'layoutBuilder',
    data () {
      return {
        viewId: '0'
      }
    },
    beforeMount: function () {
      this.viewId = this.$route.query.id
    },
    components: {
      reader
    }
  }
</script>
