<template>
  <div class="hero-body">
    <div class="container is-fluid">
    	<div class="columns ">
    		<router-link class="column is-2 is-offset-1 box" :to="{ path: 'builder', query: { id: 0 }}" >
    			<img src="../assets/images/build.png" alt="Professionnel"  >
    			<h1 class=" has-text-centered is-centered">Build my app</h1>
    		</router-link>
    		<router-link class="column is-2 is-offset-1 box" :to="{ path: 'viewer', query: { id: 0 }}" >
    			<img src="../assets/images/app.png" alt="Professionnel"   >
    			<h1 class=" has-text-centered is-centered">My app</h1>
    		</router-link>
    		<router-link class="column is-2 is-offset-1 box" :to="{ path: 'mapper'}" >
    			<img src="../assets/images/upload.png" alt="Professionnel"  >
    			<h1 class=" has-text-centered is-centered">Uploader un fichier</h1>
    		</router-link>
    	</div>
    </div>
  </div>
</template>

<style type="text/css">
.transitionLeftinActive{
  margin-left: -10%!important;
}
.transitionLeftActive{
  margin-left: 0%!important;
  transition: 5s;
}
.transitionTopinActive{
  margin-top: 10%!important;
}
.transitionTopActive{
  margin-top: 0%!important;
  transition: 5s;
}
</style>

<script>
  export default {
    layout: 'layoutBuilder',
    data () {
      return {
        show: true,
        transitionLeftActive: false,
        transitionLeftinActive: true,
        transitionTopActive: false,
        transitionTopinActive: true
      }
    },
    components: {
    },
    mounted: function () {
      this.transitionLeftActive = true
      this.transitionLeftinActive = false
      this.transitionTopActive = true
      this.transitionTopinActive = false
    }
  }
</script>
