<template>
  <div class="hero-body">
    <div class="container is-fluid">
    	<div class="columns ">
    		<div class="column is-2 is-offset-4 box" :to="{ path: 'builder', query: { id: 0 }}" >
        <b-field>
            <b-upload v-model="dropFiles"
                multiple
                drag-drop>
                <section class="section">
                    <div class="content has-text-centered">
                        <p>
                            <b-icon
                                icon="upload"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>Drop your files here or click to upload</p>
                    </div>
                </section>
            </b-upload>
        </b-field>

        <div class="tags">
            <span v-for="(file, index) in dropFiles"
                :key="index"
                class="tag is-primary" >
                {{file.name}}
                <button class="delete is-small"
                    type="button"
                    @click="deleteDropFile(index)">
                </button>
            </span>
        </div>
    		</div>
    	</div>
    </div>
  </div>
</template>

<style type="text/css">
.transitionLeftinActive{
  margin-left: -10%!important;
}
.transitionLeftActive{
  margin-left: 0%!important;
  transition: 5s;
}
.transitionTopinActive{
  margin-top: 10%!important;
}
.transitionTopActive{
  margin-top: 0%!important;
  transition: 5s;
}
</style>

<script>
  import axios from 'axios'
  export default {
    layout: 'layoutBuilder',
    data () {
      return {
        dropFiles: [],
        header: []
      }
    },
    components: {
    },
    mounted: function () {
    },
    methods: {
      deleteDropFile (index) {
        this.dropFiles.splice(index, 1)
      }
    },
    watch: {
      dropFiles (files) {
        var reader = new FileReader()
        reader.onload = function (e) {
          function processData (allText) {
            var allTextLines = allText.split(/\r\n|\n/)
            var headers = allTextLines[0].split(',')
            var lines = []
            for (var i = 1; i < allTextLines.length; i++) {
              var data = allTextLines[i].split(',')
              if (data.length === headers.length) {
                var tarr = []
                for (var j = 0; j < headers.length; j++) {
                  tarr.push(headers[j] + ':' + data[j])
                }
                lines.push(tarr)
              }
            }
            return lines
          }
          this.processData = processData(reader.result)
          var tempJson = '{'
          for (var i = 0; i <= this.processData.length - 1; i++) {
            if (i !== 0) {
              tempJson += ','
            }
            tempJson += JSON.stringify(this.processData[i])
          }
          tempJson += '}'
          console.log(JSON.stringify(tempJson))
          var dataFrame = document.getElementsByClassName('tag')[0].childNodes[0].data.trim().replace('.csv', '')
          var url = 'http://127.0.0.1:5000/api/data/csv/' + dataFrame
          axios.post(url, JSON.stringify(tempJson), {
            headers: { 'Content-Type': 'application/json' }
          })
        }
        reader.readAsText(files[0])
      }
    }
  }
</script>
