<template>
  <div id="app">
    

    
  </div>
</template>

<style type="text/css">
</style>

<script>
  import axios from 'axios'
  export default {
    layout: 'layoutBuilder',
    components: {
    },
    created: function () {
      var url = 'http://127.0.0.1:5000/api/path/csv/test/'
      var self = this
      const res = axios.post(url, {FILEPATH: 'C:\\test'}, {
        headers: { 'Content-Type': 'application/json' }
      })
        .then(response => {
          url = 'http://127.0.0.1:5000/api/path/csv/test2/'
          self = this
          var temp = JSON.parse(response.data)
          const res = axios.put(url, {FILEPATH: 'C:\\test', CONTENT: temp}, {
            headers: { 'Content-Type': 'application/json' }
          })
        })
        .catch(e => {
          console.log(e)
        })
    }
  }
</script>
