<template>
  <div id="app">
    


  
    <readerView :vueFrame='viewId' :dataFrame='dataIndex'/>

    
  </div>
</template>

<style type="text/css">
  html, body, #app {
  height: 100%;
}
#app {
  min-height: 100%;
  //display: flex;
  //flex-direction: column;
}
.main-content {
  //flex: 1;
}
.footer {
  margin-top: -12px;
}
.navbar-item.is-mega {
  position: static;
  }

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }

@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}
</style>

<script>
  import readerView from '~/components/reader/readerView.vue'
  import Vue from 'vue'
  import createDOMElementFromFrame from '~/plugins/createDOMElementFromFrame.js'
  Vue.use(createDOMElementFromFrame)
  export default {
    components: {
      readerView
    },
    data () {
      return {
        viewId: '0',
        dataIndex: '0'
      }
    },
    beforeMount: function () {
      this.viewId = this.$route.query.id
      this.dataIndex = this.$route.query.index
    }
  }
</script>
